/* Seção Sobre */
.sobre {
    padding: 120px 150px;
    /* background-color: #121315; */
    background: linear-gradient(135deg, #28292c, #000000);
    color: #e4d1b9;
    display: flex; /* Flexbox para organizar a imagem e o conteúdo ao lado */
    flex-direction: row; /* Organiza imagem e conteúdo na mesma linha */
    align-items: flex-start; /* Alinha a imagem e o conteúdo ao topo */
    justify-content: flex-start;
    gap: 150px; /* Espaçamento entre a imagem e o conteúdo */
}

.sobre img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

.sobre .conteudo-sobre {
    display: flex;
    flex-direction: column; /* Coloca o título e os parágrafos em uma coluna */
    justify-content: flex-start;
}

.sobre h2 {
    font-size: 30px;
    margin-bottom: 10px;
    text-align: left; /* Alinha o título à esquerda */
    margin-top: 0;
    font-family: 'Mystery Quest', cursive;

}

.sobre p {
    font-size: 18px;
    text-align: justify;
    margin-top: 0; /* Remove margem superior */
    width: auto; /* Garante que o p não ocupe toda a largura disponível */
    margin-bottom: 10px; /* Espaçamento entre os parágrafos */
    margin-top: 10px
}
